<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="wordpress" type="System.Configuration.NameValueSectionHandler" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Allow all folders with 'bin', 'App_code', 'App_Data', etc names. -->
        <hiddenSegments>
          <clear />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers>
      <add name="WordPressHandler" path="*.php" verb="*" type="PeachPied.WordPress.AspNet.RequestHandler, PeachPied.WordPress.AspNet" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="WordPress Admin" stopProcessing="true">
          <match url="^wp-admin/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" negate="true" pattern="\.php$" />
            <add input="{REQUEST_FILENAME}" negate="true" pattern="wp-admin/.*" />
            <!--add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" logRewrittenUrl="true" url="wp-admin/index.php" />
        </rule>
        <rule name="WordPress" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" negate="true" pattern="\.php$" />
            <add input="{PATH_INFO}" negate="true" pattern="(wp-include|wp-admin|wp-content)" />
            <!--add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" logRewrittenUrl="true" url="index.php/{R:1}" />
        </rule>
        <rule name="WordPressContentFiles">
          <match url="^(wp-.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" negate="true" pattern="\.php$" />
            <!--add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="bin/wordpress/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <wordpress>
    <add key="DB_PASSWORD" value="password" />
    <add key="WP_SITEURL" value="http://localhost:52312" />
    <add key="WP_HOME" value="http://localhost:52312" />
  </wordpress>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Devsense.PHP.Parser" publicKeyToken="840d8b321fee7061" culture="neutral" />


      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="FluentFTP" publicKeyToken="f4af092b1d8df44f" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-33.0.0.0" newVersion="33.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="BCrypt.Net-Next" publicKeyToken="1e11be04b6288443" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.11.25.0" newVersion="1.11.25.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
